@model Music.db.ViewModels.Genre.GenreDetailsViewModel

@{
	ViewData["Title"] = $"Details {Model.Name}";
}

<h1 class="display-6">Details @Model.Name</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">
				ID
			</th>
			<th scope="col">
				Title
			</th>
			<th scope="col">
				Artist
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var song in Model.Songs)
		{
			<tr>
				<td>
					@song.Id
				</td>
				<td>
					<a asp-controller="Song" asp-action="Details" asp-route-id="@song.Id">@song.Title</a>
				</td>
				<td>
				</td>
				<td>
					<a class="text-primary" asp-controller="Song" asp-action="Update" asp-route-id="@song.Id"><i class="bi bi-pencil-square"></i></a>
				</td>
				<td>
					<a class="text-danger" asp-controller="Song" asp-action="Delete" asp-route-id="@song.Id"><i class="bi bi-x-lg"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>